

.button{
    border-radius: 20px;
    height: 32px;
    width: 90px;
    background-color: #37AFE1;
    border: 1px solid #37AFE1;
    color:whitesmoke;
}

.button:hover{
    background-color: #1e6a8a;
}