.HomeCard-container{
    position: relative;
    border:1px solid black;
    height:380px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    background-color: #FFFECB;
}

.HomeCard-image{
    height:150px;
    width: 150px;
    display: block;
    margin: 0 auto;
}
.HomeCard-details{
    font-size: 13px;
    font-weight: 100px;
    font-style: italic;
    text-align: center;
}
.HomeCard-name{
    font-family:'Times New Roman', Times, serif;
}

